# Ignore raw data
data/raw/*

#Allow this specific file (for Git LFS)
!data/raw/LLCP2024.XPT

# Ignore large files
*.csv
*.xlsx
*john.ipynb
#ignore environments
streamlit_env/
.venv/
venv/
#ignore python cache
_pycache_/
*.pyc 